 {% extends 'index.html' %}

 {% block content %}
 <div class="jumbotron" alt="background-image" style="background-image: url(/static/img/occupational.jpg); background-size: 100%;">
   <div class="container-fluid">
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>   
   <h1 style="text-align: center; color: white; ">ZELT, making lives better</h1>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>

 
   </div>
   </div>


   <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2 style="color: black;">Background</h2>
        <p style="text-align:justify;">Zelt Enterprises is a newly formed private limited company inaugurated under the laws of Zimbabwe. Our main focus
        is supplying equipment to various sectors of the industry that are backbones to the economy of Zimbabwe and beyond. We supply plant equipment, small and large scale mining equipment, motor vehicle spares and safety gear for the various sectors of the 
        industry. We go beyond supplying equipment, we also offer services like industrial pump services, mining equipment services and general maintenance. </p>
        </br>
        <h2 style="color: black;">Our Vision </h2>
        <p style="text-align:justify;">To be dominant in providing mining, industrial and plant equipment maintenance services providers</p>
        <p>
        </br>
        <h2 style="color: black;">Mission Statement</h2>
        <p style="text-align:justify;">Delivering the right products of the right quality, in the right quality, at the right time, to the right customer</p>
        </br>
        </br>
        <h2 style="color: black;">Values</h2>
        <p style="text-align:justify;">Transparency, intergrity, professionalism, innovation and long term relationships</p>
      </div>

  </div>  



 {% endblock %}