 {% extends 'index.html' %}

 {% block content %}

<div class="jumbotron" alt="background-image" style="background-image: url(/static/img/indstrial.jpg); background-size: 100%; min-height: 60%;">
   <div class="container-fluid">
</br> 
   </br> 
   </br> 
   </br>   
   </br> 
   </br> 
   </br> 
   </br> 
   </br> 
   <h1 style="text-align: center; color: white; ">OUR PRODUCTS & SERVICES</h1>
</br> 
</br> 
</br> 
</br> 
</br> 
</br> 

 
   </div> 

</div>
<div><h1 style="text-align: center; font-family: 'Akronim'; color: black;">Making Lives better</h1></div>


{% endblock %}